//- ** This is a sample of a pug template and how it uses the data passed to it from index.js.

doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Pets
        a(href="http://localhost:3000/update-cobj") Add to this table
        table  
            tr
                th Id
                th Name
                th Age
                each contact in data
                    tr
                    td  #{contact.properties.name}
                    td  #{contact.properties.bio}
                    td  #{contact.properties.age}